h1 {
    color: black;
    font-family: Dosis, serif;
    font-size: 32pt;
    width: 100%;
    display: inline-block;
    margin: 0px auto 0px;
}

h1 a {
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}

h1 a:hover {
  color: #FDA688;
}

body {
    background-color: whitesmoke;
}

#container {
    width: 70%;
    margin: 0px auto 50px;
    text-align: center;
    max-width: 800px;
}

#header {
    width: 75%;
    top: 0;
    margin: 0px auto;
    text-align: center;
}

#logo-container {
  width: 100%;
  margin: 25px auto 10px;
  text-align: center;
}

p a {
    color: dimgray;
    font-weight: 700;
    transition: 0.2s ease;
    text-decoration: none;
    border-bottom: 1px solid dimgray;
    padding: 1px;
}

p a:hover {
    color: #FDA688;
    padding: 5px 1px;
    border-bottom: 1px solid #FDA688;
}

p {
    color: dimgray;
    font-family: Josefin Sans, sans-serif;
    font-size: 12pt;
    text-align: left;
    line-height: 24pt;
    margin: auto;
    margin-top: 20px;
}

#buttoncontainer {
    width: 75%;
    min-width: 300px;
    margin: 0px auto 25px;
}

#button {
    width: 75px;
    display: inline-block;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    letter-spacing: 3px;
    margin: 25px 25px;
    font-size: 12pt;
}

#button a {
    text-decoration: none;
    color: dimgray;
}

#currentpage {
    width: 75px;
    display: inline-block;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    letter-spacing: 3px;
    margin: 25px 25px;
    font-size: 12pt;
}

#currentpage a {
  text-decoration: none;
  color: #FDA688;
}

.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #FDA688;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #FDA688;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
    width: 100%;
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

#corner1 {
    background-image: url(images/Corner-01.png);
    background-size: cover;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 200px;
    height: 200px;
}

#corner2 {
    background-image: url(images/Corner-02.png);
    background-size: cover;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 200px;
    height: 200px;
}

#corner3 {
    background-image: url(images/Corner-03.png);
    background-size: cover;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 200px;
    height: 200px;
}

#corner4 {
    background-image: url(images/Corner-04.png);
    background-size: cover;
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 200px;
    height: 200px;
}

footer {
    color: dimgray;
    font-family: Josefin Sans, sans-serif;
    font-size: 10pt;
    letter-spacing: .1em;
    text-align: center;
    width: 100%;
    margin: 75px auto 20px auto;

}
